.git
.github
.agents
.ai
.vscode
.idea
node_modules
npm-debug.log
yarn-error.log
vendor
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
tests
database/database.sqlite
.env
.env.backup
.env.production
.phpunit.result.cache
*.log
