.git
.github
.agents
.ai
.env
.env.*
!.env.example
!.env.docker.example
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/framework/testing/.gitignore
!storage/logs/.gitignore
tests
docker-compose*.yml
.phpunit.result.cache
*.md
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
