/.phpunit.cache
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
!.env.docker.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/graphify-out
composer.lock
bun.lock
package-lock.json
